body{
    background-color: #faf9f9;
    background-image: url("../img/cuadro.png");
    background-repeat: no-repeat;
    background-position: center;
}
#contenedor{
    padding: 15px ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}
.contenedorMenu{
    background-color: #e7dbff;
    width: 400px;
    height: 300px;
}
.contenedorContactos{
    width: 850px;
    background-color: #e7dbff;
}

.row{
    padding: 15px;
    padding-left: 30px;
}
.link{
    text-decoration: none;
    text-decoration-color: none;
}
button{
    box-shadow: 3px 3px 3px gray;
}
.titulo{
    font-size: 50px;
    text-shadow: 3px 3px 3px
gray;
}
.menu{
    font-size: 30px;
    font-weight: bold;
}
.pcontactos{
    font-size: 26px;
    font-weight: bold;
}